.the-whole-bg {
  position: fixed;
  opacity: 0.4;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  -webkit-background-size: cover;
  background-image: url('https://cdn.jsdelivr.net/gh/MashiroRb/CDNjsDelivr/imgAnother/a29.jpg');
}

.page {
  height: 100vh;
  opacity: 0.9;
  margin: 0 auto;
  border-radius: 8px;
  overflow: auto;
  width: 80%;
  min-height: 80%;
}